<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Role</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <div th:insert="~{fragments/navbar}"></div>

    <h1>Create New Role</h1>
    <!-- Include Alerts -->
    <div th:insert="~{fragments/alerts}"></div>

    <form th:action="@{/roles/create}" th:object="${role}" method="post" class="mt-4">
        <div class="form-group">
            <label for="name">Role Name:</label>
            <input type="text" id="name" th:field="*{name}" class="form-control" required/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">
                <i class="fas fa-check"></i> Create Role
            </button>
        </div>
    </form>
</div>

<div th:insert="~{fragments/footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
