<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Link</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <div th:insert="~{fragments/navbar}"></div>

    <h1>Edit Link</h1>
    <!-- Include Alerts -->
    <div th:insert="~{fragments/alerts}"></div>
    <form th:action="@{/links/update/{id}(id=${link.id})}" th:object="${link}" method="post" class="mt-4">

        <div class="form-group">
            <label for="url">URL:</label>
            <input type="text" id="url" th:field="*{url}" class="form-control" required/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-save"></i> Update Link
            </button>
        </div>
    </form>
</div>


<div th:insert="~{fragments/footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
