<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Link Management</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <div th:insert="~{fragments/navbar}"></div>

    <h1 class="mb-4">Links</h1>
    <a href="/links/create" class="btn btn-primary mb-3">
        <i class="fas fa-plus"></i> Add Link
    </a>

    <table class="table table-borderless table-stripped table-hover">
        <!--<thead class="thead-dark">
        <tr>
            &lt;!&ndash;<th>Link ID</th>&ndash;&gt;
           &lt;!&ndash; <th>Title</th>&ndash;&gt;
            <th>Link</th>
&lt;!&ndash;            <th>Description</th>&ndash;&gt;
            <th>Created</th>
            <th>Actions</th>
        </tr>
        </thead>-->
        <tbody>
        <tr th:each="link : ${links}">
            <!--<td th:text="${link.id}"></td>-->
            <td th:title="${link.title}">
                <div class="card">
                    <div class="card-body">
                        <div class="w-100">
                            <div class="float-right">
                                <a class="btn btn-danger btn-sm" th:href="@{/links/delete/{id}(id=${link.id})}">
                                    <i class="fas fa-trash"></i>
                                </a>
                                <a class="btn btn-warning btn-sm" th:href="@{/links/edit/{id}(id=${link.id})}">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <p class="card-text"><small class="text-muted" th:title="'Created at ' + ${#temporals.format(link.createdAt, 'dd/MM/yyyy HH:mm')}" th:text="${link.timeAgo}"></small></p>
                            </div>
                            <!--<h5 class="card-title">Card title</h5>-->
<!--                            <div class="float-left">-->
<!--                                -->
<!--                            </div>-->
                        </div>
                        <div class="w-100">
                            <h4 class="card-title" th:text="${link.title}"></h4>
                            <p class="card-text" th:text="${link.description}"></p>
                            <a th:href="${link.url}" target="_blank" class="card-link">
                                <img th:src="'data:image/png;base64,' + ${base64Util.bytesToBase64(link.icon)}"
                                     style="border-radius:2px 2px 2px 2px" height="16" width="16" />
                                Link
                            </a>
                        </div>
                    </div>
                </div>
            </td>
            <!--<td th:title="${link.url}" class="ellipsis">
                <a th:href="${link.url}" target="_blank" class="text-decoration-none">
                    <i class="fas fa-external-link-alt"></i>
                    <span th:text="${link.url}"></span>
                </a>
            </td>-->
<!--            <td th:text="${link.description}"></td>-->
            <!--<td th:title="'Created at ' + ${#temporals.format(link.createdAt, 'dd/MM/yyyy HH:mm')}" th:text="${link.timeAgo}"></td>-->
            <!--<td>
                <a class="btn btn-danger btn-sm float-right" th:href="@{/links/delete/{id}(id=${link.id})}">
                    <i class="fas fa-trash"></i>
                </a>
                <a class="btn btn-warning btn-sm float-right" th:href="@{/links/edit/{id}(id=${link.id})}">
                    <i class="fas fa-edit"></i>
                </a>
            </td>-->
        </tr>
        </tbody>
    </table>
    <!-- Include Alerts -->
    <div th:insert="~{fragments/alerts}"></div>

    <!-- Pagination -->
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                <a class="page-link" th:href="@{/links(page=${currentPage - 1}, size=${size})}">Previous</a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                th:classappend="${i == currentPage} ? 'active'">
                <a class="page-link" th:text="${i + 1}" th:href="@{/links(page=${i}, size=${size})}"></a>
            </li>
            <li class="page-item" th:classappend="${currentPage + 1 == totalPages} ? 'disabled'">
                <a class="page-link" th:href="@{/links(page=${currentPage + 1}, size=${size})}">Next</a>
            </li>
        </ul>
    </nav>
</div>
<div th:insert="~{fragments/footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
    .card-text,
    .card-title {
        margin-bottom: 0.5rem;
    }
</style>
</body>
</html>
