<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="/icon.png" alt="Logo" width="30" height="30" class="d-inline-block align-top" />
        LinkEase
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/users">
                    <i class="fas fa-users"></i> <!-- Users Icon -->
                    Users
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/links">
                    <i class="fas fa-link"></i> <!-- Links Icon -->
                    Links
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/roles">
                    <i class="fas fa-user-tag"></i> <!-- Roles Icon -->
                    Roles
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/permissions">
                    <i class="fas fa-key"></i> <!-- Permissions Icon -->
                    Permissions
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/configs">
                    <i class="fas fa-cogs"></i> <!-- Configs Icon -->
                    Configs
                </a>
            </li>
        </ul>
        <ul class="navbar-nav"> <!-- New list for the profile and logout links -->
            <li class="nav-item dropdown"> <!-- Dropdown for Profile -->
                <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i> <!-- Profile Icon -->
                    Profile
                </a>
                <div class="dropdown-menu" aria-labelledby="profileDropdown">
                    <a class="dropdown-item" href="/profile">
                        <i class="fas fa-user-circle"></i> <!-- Profile Icon -->
                        View Profile
                    </a>
                    <a class="dropdown-item" href="/profile/change-password">
                        <i class="fas fa-lock"></i> <!-- Change Password Icon -->
                        Change Password
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">
                    <i class="fas fa-sign-out-alt"></i> <!-- Logout Icon -->
                    Logout
                </a>
            </li>
        </ul>
    </div>
</nav>
