<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Assign Roles to User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <div th:insert="~{fragments/navbar}"></div>

    <h1>Assign Roles to <span th:text="${user.username}"></span></h1>
    <!-- Include Alerts -->
    <div th:insert="~{fragments/alerts}"></div>

    <form th:action="@{/users/assign-roles/{id}(id=${user.id})}" method="post" class="mt-4">
        <div class="mb-3">
            <label for="roles" class="form-group">Select Roles:</label>
            <div th:each="role : ${roles}">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:value="${role.id}" th:name="'roleIds'" id="role_${role.id}">
                    <label class="form-group form-check-label" th:for="'role_' + ${role.id}" th:text="${role.name}"></label>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-user-tag"></i> Assign Roles
        </button>
    </form>
</div>

<div th:insert="~{fragments/footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
