<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Permissions</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <div th:insert="~{fragments/navbar}"></div>
    <h1 class="mb-4">Permissions</h1>
    <!-- Include Alerts -->
    <div th:insert="~{fragments/alerts}"></div>
    <a href="/permissions/create" class="btn btn-primary mb-3">
        <i class="fas fa-plus"></i> Create New Permission
    </a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Permission</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="permission : ${permissions}">
            <td th:text="${permission.name}"></td>
            <td th:text="${permission.type}"></td>
            <td>
                <a class="btn btn-warning btn-sm" th:href="@{/permissions/edit/{id}(id=${permission.id})}">
                    <i class="fas fa-edit"></i>
                </a>
                <a class="btn btn-danger btn-sm" th:href="@{/permissions/delete/{id}(id=${permission.id})}">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                <a class="page-link" th:href="@{/permissions(page=${currentPage - 1}, size=${size})}">Previous</a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                th:classappend="${i == currentPage} ? 'active'">
                <a class="page-link" th:text="${i + 1}" th:href="@{/permissions(page=${i}, size=${size})}"></a>
            </li>
            <li class="page-item" th:classappend="${currentPage + 1 == totalPages} ? 'disabled'">
                <a class="page-link" th:href="@{/permissions(page=${currentPage + 1}, size=${size})}">Next</a>
            </li>
        </ul>
    </nav>
</div>
<div th:insert="~{fragments/footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
